
.contenedor-login {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    width: 300px;
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 0;
    margin: 0 auto;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    border-radius: 50px; /* Borde del boton */
    background-color: #1f1f1f; /* Color de fondo */
    position: fixed;
    border: none;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
    width: 75px;
    height: 75px;
}

    .btn-flotante:hover {
        background-color: #4BBF73; /* Color de fondo al pasar el cursor */
        transform: translateY(-7px);
    }

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        bottom: 20px;
        right: 20px;
    }
}
