@{
    ViewBag.Title = "Home Page";
}

<link href="~/CSS/General.css" rel="stylesheet" />

<button class="btn-flotante shadow">
    <a href="carrito">
        <img src="Img/shopping-cart.svg" width="27px" height="27px" alt="Carrito" />
        <span class="badge badge-info position-absolute" style="border-radius: 25px; margin-left:-37px; margin-top: -10px">2</span>
    </a>

</button>

<div class="container mt-5">
    <div class="row row-cols-md-4 row-cols-lg-4 row-cols-4" id="contenedor-productos">

    </div>
</div>

@section Scripts{
    @Scripts.Render("/JavaScripts/Querys.js")
}