@{
    ViewBag.Title = "Home Page";
}

<link href="~/CSS/General.css" rel="stylesheet" />

<button class="btn-flotante shadow">
    <a href="carrito">
        <img src="Img/shopping-cart.svg" width="27px" height="27px" alt="Alternate Text" />
        <span class="badge badge-info position-absolute" style="border-radius: 25px; margin-left:-37px; margin-top: -10px">2</span>
    </a>

</button>

<div class="container mt-5">
    <div class="row row-cols-md-4 row-cols-lg-4 row-cols-1">
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/flat-lay-arrangement-with-cream-bottles-rose_23-2148295653.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$40</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/abstract-podium-black-marble-stage-show-product-with-black-frame-leaf-palm-3d-illustration_74387-49.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$25</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/top-view-organic-cream-with-hand-soap-table_23-2148619978.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$15</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card border-0 shadow">
                <img src="https://image.freepik.com/free-photo/close-up-body-butter-recipient_23-2148543042.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="card-title">Crema aclarante</h6>
                        </div>
                        <div class="col-4">
                            <h5 class="text-right" style="color: lightseagreen">$35</h5>
                        </div>
                    </div>
                    <p class="card-text">Breve descripcion del producto</p>
                    <button class="btn btn-primary btn-block">Agregar al carrito</button>
                </div>
            </div>

        </div>
    </div>
</div>